* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.logo {
    width: 200px;
    margin-left: 100px;
}

.header-link {
    color: white;
    text-decoration: none;
}

.logo-header-link {
    color: darkgrey;
    text-decoration: none;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.language-container {
    background-color: rgb(111, 178, 77);
}

.dropdown {
    margin-right: 100px;
}

.d-flex {
    margin-right: 100px;
}

.main-image {
    position: relative;
    width: 100vw; /* Asetetaan divin leveys 100%:iin viewport-leveyden suhteessa */
    overflow: hidden; /* Piilotetaan mahdolliset ylimääräiset sisällöt */
}

.main-image img {
    width: 100%; /* Asetetaan kuvan leveys 100%:iin, jolloin se täyttää koko divin leveyden */
    height: auto; /* Säilytetään kuvan alkuperäinen korkeus-suhteellisuus */
    filter: brightness(70%);
}

.overlay-text {
    position: absolute;
    top: 50%; /* Aseta teksti puoleen väliin korkeuden suhteen */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: white;
    z-index: 1;
}
.image-section, .icons-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.image-container {
    position: relative;
    margin: 20px;
    background-size: cover;
}
.image-container img {
    min-width: 100%;
    min-height: 260px;
}
.section-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Lisää läpinäkyvyys taustavärille */
    color: white;
    padding: 10px;
    font-size: large;
}
.box {
    background-color: #ffffff; /* Valkoinen tausta */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 400px;
    height: 200px;
}
.ref-box {
    width: 300px;
    height: 300px;
}
.image-space, .text-space {
    border-left: 1px solid #333; /* Tumma border */
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    padding: 10px; /* Lisää sisätilaa reunuksen ympärille */
    text-align: center;
}
.text-space {
    border-bottom: 1px solid #333;
    height: 150px;
}
/* Sähköposti error */

#email-error {
    font-weight: bold;
    color: red;
    padding: 20px;
}
.footer-header {
    margin-bottom: 40px;
}
.sales-text {
    font-weight: bold;
}

.link-buttons {
    margin-top: 100px;
}


@media (max-width: 1215px) {

    
    .logo-container {
        margin-bottom: 10px;
    }

    .logo {
        width: 50%;
        margin-left: 0%;
    }
    
    .logo-header-link {
        display: block;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 100%;
    }
    
    .d-flex {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form-control {
        margin-bottom: 10px;
    }

    .main-image-container {
        margin-top: 20px;
    }

    .overlay-text {
        width: 100%;
        text-align: center;
    }
    .main-image-container {
        position: relative;
        margin-top: -720px;
    }
    .image-space img /* Logot */{
        max-width: 100%;
        height: auto;
    }
    .link-buttons {
        margin-top: 50px;
    }
    .contact-button {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .box {
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        width: auto;
        height: auto;
    }
    .ref-box {
        flex-basis: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 50px;
        
    }
    .text-space{
        min-height: 80%;
    }
}

@media (max-width: 1400px) {
    .ref-box {
        flex-basis: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 50px;
        
    }
    .text-space{
        min-height: 80%;
    }
}
